################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
/Certificates
MyProject_coverage.xml
RunCodeCoverage.cmd
UploadCodeCoverage.cmd
/Tests/local.runsettings
